<!-- Content Wrapper. Contains page content -->

<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a href="/admin"><strong>Casa Nova</strong></a>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/perfil">{$usuario.primeiro_nome}</a></li>
            <li class="active"><a href="/perfil/atualiza">Editar Dados</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-3">
                {include="perfil_menu"}
            </div>
            <div class="col-md-9">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Editar Perfil</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form  role="form" action="/perfil/atualiza" name="FormCadastro" method="post">
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Dados Pessoais</h2>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-6">
                                            <label class="control-label" for="primeiro_nome"><strong class="obrigatorio">*</strong>Primeiro Nome</label>
                                            <input type="text" class="form-control" id="primeiro_nome" name="primeiro_nome" maxlength="20" value="{$usuario.primeiro_nome}" autofocus required>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label" for="sobrenome"><strong class="obrigatorio">*</strong>Sobrenome</label>
                                            <input type="text" class="form-control" id="sobrenome" name="sobrenome" maxlength="20" value="{$usuario.sobrenome}" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label" for="rg"><strong class="obrigatorio">*</strong>RG</label>
                                            <input type="text" class="form-control" name="rg" id="rg" placeholder="RG" value="{$usuario.rg}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Endereço</h2>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-5">
                                            <label class="control-label" for="cep"><strong class="obrigatorio">*</strong>CEP</label>
                                            <input type="text" class="form-control cep-mask" name="cep" id="cep" value="{$usuario.cep}"  required>
                                        </div>
                                        <div class="col-md-7">
                                            <label class="control-label" for="endereco"><strong class="obrigatorio">*</strong>Endereço</label>
                                            <input type="text" class="form-control" name="rua" id="endereco" value="{$usuario.rua}" required>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label" for="numero"><strong class="obrigatorio">*</strong>Número</label>
                                            <input type="text" class="form-control" name="numero" id="numero" value="{$usuario.numero}" maxlength="10" required>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" for="bairro"><strong class="obrigatorio">*</strong>Bairro</label>
                                            <input type="text" class="form-control" name="bairro" id="bairro" value="{$usuario.bairro}" required>
                                        </div>
                                        <div class="col-md-7">
                                            <label class="control-label" for="cidade"><strong class="obrigatorio">*</strong>Cidade</label>
                                            <input type="text" class="form-control" name="cidade" id="cidade"  value="{$usuario.cidade}" required>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label" for="estado"><strong class="obrigatorio">*</strong>Estado</label>
                                            <input type="text" class="form-control" name="estado" id="estado" value="{$usuario.estado}" required>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" for="pais"><strong class="obrigatorio">*</strong>País</label>
                                            <input type="text" class="form-control" name="pais" id="pais" value="{$usuario.pais}" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Contatos</h2>
                                    </div>
                                    <div class="box-body">
                                        <div  class="col-md-12">
                                        <div id="email">
                                            <label class="control-label" for="email"><strong class="obrigatorio">*</strong>Email</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2">@</span>
                                                <input type="email" class="form-control" name="email"  value="{$usuario.email}" oninput="ValidarCampoEmail()"  required>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label" for="telefone"><strong class="obrigatorio">*</strong>Telefone</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" class="form-control phone-ddd-mask" name="telefone" id="telefone" value="{$usuario.telefone}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label" for="celular"><strong class="obrigatorio">*</strong>Celular</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <input type="text" class="form-control cel-sp-mask" name="celular" id="celular" value="{$usuario.celular}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h2 class="box-title">Profissional</h2>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-7">
                                            <label class="control-label" for="numero_ctps"><strong class="obrigatorio">*</strong>N&uacute;mero</label>
                                            <input type="text" class="form-control" name="numero_ctps" id="numero_ctps" value="{$usuario.numero_ctps}" maxlength="10" required>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label" for="serie_ctps"><strong class="obrigatorio">*</strong>S&eacute;rie</label>
                                            <input type="text" class="form-control" name="serie_ctps" id="serie_ctps" value="{$usuario.serie_ctps}" maxlength="5" required>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label" for="data_ctps"><strong class="obrigatorio">*</strong>Expedi&ccedil;&atilde;o</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="date" class="form-control" name="data_ctps" id="data_ctps"  value="{$usuario.data_ctps}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="estado_ctps"><strong class="obrigatorio">*</strong>Estado</label>
                                            <select class="form-control" name="estado_ctps" id="estado_ctps" required>
                                                <option style="color: blue;" value="{$usuario.estado_ctps}">{$usuario.estado_ctps}</option>
                                                {loop="$estados"}
                                                <option value="{$value.uf}">{$value.uf}</option>
                                                {/loop}
                                            </select>
                                        </div>

                                        <div id="pis" class="col-md-6">
                                            <label class="control-label" for="pis"><strong class="obrigatorio">*</strong>PIS</label>
                                            <input type="text" class="form-control" name="pis" value="{$usuario.pis}"  onkeypress="formatar('###.#####.##-#',this)"  oninput="ValidarPis()" maxlength="14" required>
                                        </div>
                                        <input type="hidden" name="responsavel_cadastro" value="{function="getNomeUsuario()"}">
                                    </div>
                                </div>
                            </div>
                           </div>
                            <div class="box-footer">
                                <div class="form-row pull-right">
                                    <div class="col-md-12">
                                        <input class="btn btn-primary btn-md" type="submit" value="Atualizar">
                                        <a href="/perfil" class="btn btn-primary btn-md">Voltar</a>
                                    </div>
                                </div>
                            </div>
                      </form>
                </div>

                {if="$perfilErro != ''"}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {$perfilErro}
                </div>
                {/if}
               </div>

            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


