

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detalhes da Promoção
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/admin/empresa/area-administrativo"> Painel de Controle</a></li>
            <li><a href="/admin/promocoes">Promoções</a></li>
            <li class="active"><a href="/admin/promocoes/{$promocao.id_promocao}/detalha">Detalhar </a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
            <div class="box box-success">
                <div class="box-body">
                    <div class="col-sm-6">
                        <div class="product-images">
                            <div class="product-main-img">
                                <img width="300px"  src="{$promocao.foto_promocao}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">{$promocao.nome_promocao}</h2>
                            </div>
                            <div class="panel-body">
                                <label>Data de Início: </label>
                                <span>{function="formatData($promocao.dtinicio)"}</span>
                                <br>
                                <label>Data Final:  </label>
                                <span>{function="formatData($promocao.dtfinal)"}</span>
                                <br>
                                <label>Descrição: </label>
                                <span>{$promocao.descricao}</span>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>

                    <div class="box-footer">
                        <div class="form-row">
                            <div class="col-md-6">
                                <a href="/admin/promocoes/{$promocao.id_promocao}/fotoPromocao" class="btn btn-primary btn-md"><i class="fa fa-edit"></i>Atualizar Foto</a>
                                <a href="/admin/promocoes/{$promocao.id_promocao}/atualiza" class="btn btn-primary btn-md"><i class="fa fa-edit"></i>Editar Promoção</a>
                                <a href="/admin/promocoes" class="btn btn-primary btn-md">Voltar</a>
                            </div>
                        </div>
                    </div>
            </div>
        {if="$promocaoFotoSucesso != ''"}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {$promocaoFotoSucesso}
        </div>
        {/if}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

